#OS junk files
[Tt]humbs.db
*.DS_Store

#LaTeX 
*.aux
*.log
*.nlo
*.out
*.gz
*.toc

#MATLAB
*.asv

#Pelican Dataset
DATA/Pelican_Dataset/AscTec_Pelican_Flight_Dataset.mat
DATA/Pelican_Raw_Data/AscTec_Pelican_Flight_Dataset_Original_Motors.mat
